<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="True">

    <title>preschian.com</title>

    <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C400italic%2C700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

    <!-- Framework -->
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/concise.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/font-awesome.css" />

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/style.css" />
</head>
<body>

    <div class="sidebar">
        <div class="sidebar-section">
            <h4>About Me</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem in expedita iste quidem voluptatum, ratione dolores eligendi qui consequuntur molestiae iure sapiente, est deserunt error.</p>
        </div>

        <div class="sidebar-section">
            <h4>Categories</h4>
            <select name="categories" id="categories">
                <option>HTML</option>
                <option>CSS</option>
                <option>JS</option>
            </select>
        </div>

        <div class="sidebar-section">
            <h4>Follow Me</h4>
            <ul class="list-unstyled">
                <li><a href="javascript:;" target="_blank"><i class="fa fa-twitter fa-fw"></i> Twitter</a></li>
                <li><a href="javascript:;" target="_blank"><i class="fa fa-facebook fa-fw"></i> Facebook</a></li>
                <li><a href="javascript:;" target="_blank"><i class="fa fa-steam fa-fw"></i> Steam</a></li>
            </ul>
        </div>
    </div>

    <div class="container clearfix">
        <div class="row">
            <h1 class="site-title float-left no-margin">
                <a href="index.html"><i class="fa fa-code"></i> Preschian</a>
            </h1>
            <a id="show-sidebar" href="javascript:;" class="btn float-right"><i class="fa fa-bars"></i></a>
        </div>
    </div>
